<ion-header>
  <ion-navbar>
    <ion-title>
      User Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>name</ion-label>
    <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>age</ion-label>
    <ion-input type="number" [(ngModel)]="user.age" name="age"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button small outline item-end (click)="uploadImagem()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-item>
  <ion-item *ngIf="user.picture != ''">
    <img width="80" height="80" [src]="user.picture"/>
  </ion-item>
  <button ion-button full (click)="saveUser()">Save</button>

  <ion-list *ngFor="let u of users">
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ u.picture }}">
        </ion-avatar>
        <h2>Name: {{u.name}}</h2>
        <p>Age: {{u.age}}</p>
      </ion-item>
      <ion-item-options side="rigth">
        <button ion-button icon-only color="primary" (click)="edit(u)">
            <ion-icon name="refresh-circle"></ion-icon>
        </button>
        <button ion-button icon-only color="secondary" (click)="delete(u)">
            <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>